In [16]:
from pyspark.sql import SQLContext,Row
from pyspark.sql.types import StructType,StructField,IntegerType
jsonData=sqlCtx.read.json("file:///E:/Eclipse_Android_workspaces/ApacheSpark/data/world_bank/world_bank.json")

In [17]:
sqlCtx.registerDataFrameAsTable(df=jsonData,tableName='jsonData')
india=sqlCtx.sql("select borrower,country_namecode from jsonData where borrower like '%FINANCE%' limit 10")
india.collect()

[Row(borrower='MINISTRY OF FINANCE AND ECONOMIC DEVEL', country_namecode='Tuvalu!$!TV'),
 Row(borrower='MINISTRY OF FINANCE', country_namecode='Kingdom of Lesotho!$!LS'),
 Row(borrower='MINISTRY OF FINANCE', country_namecode='Samoa!$!WS'),
 Row(borrower='MINISTRY OF FINANCE', country_namecode='Samoa!$!WS'),
 Row(borrower='MINISTRY OF FINANCE AND BUDGET (MFB)', country_namecode='Republic of Madagascar!$!MG'),
 Row(borrower='MINISTRY OF FINANCE', country_namecode='Kingdom of Morocco!$!MA'),
 Row(borrower='DEPARTMENT OF FINANCE', country_namecode='Pacific Islands!$!4P'),
 Row(borrower='MINISTRY OF FINANCE', country_namecode='Republic of Tajikistan!$!TJ'),
 Row(borrower='MINISTRY OF FINANCE', country_namecode='Republic of the Marshall Islands!$!MH'),
 Row(borrower='MINISTRY OF FINANCE', country_namecode='Republic of Tajikistan!$!TJ')]

In [22]:
rdd=sc.parallelize([1,2,3,4,5,6,7,8,9,10])
##schema=StructType([StructField('column',IntegerType(),False)])
DF=sqlCtx.createDataFrame(rdd,IntegerType()).toDF('column')
DF.collect()

[Row(column=1),
 Row(column=2),
 Row(column=3),
 Row(column=4),
 Row(column=5),
 Row(column=6),
 Row(column=7),
 Row(column=8),
 Row(column=9),
 Row(column=10)]